<h2 class="ms-2">Add actor</h2>
<hr>
<form [formGroup]="addForm" (ngSubmit)="addForm.valid && addActor()">
    <div class="row">
        <div class="col-6">
            <app-text-input 
                [formControl]="$any(addForm.controls['firstName'])" 
                [label]="'First Name'"
                [type]="'text'"
            ></app-text-input>
        </div>
        <div class="col-6">
            <app-text-input 
                [formControl]="$any(addForm.controls['lastName'])" 
                [label]="'Last Name'"
                [type]="'text'"
            ></app-text-input>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <app-text-input 
                [formControl]="$any(addForm.controls['dateOfBirth'])"
                [label]="'Date Of Birth'"
                [type]="'Date'"
            ></app-text-input>
        </div>
        <div class="col-4">
            <app-text-input 
                [formControl]="$any(addForm.controls['birthplace'])" 
                [label]="'Birthplace'"
                [type]="'text'"
            ></app-text-input>
        </div>
        <div class="col-4">
            <app-text-input 
                [formControl]="$any(addForm.controls['heightInCentimeters'])" 
                [label]="'Height (cm)'"
                [type]="'number'"
            ></app-text-input>
        </div>
    </div>
   
    <app-text-input 
        [formControl]="$any(addForm.controls['biography'])" 
        [label]="'Biography'"
        [type]="'textarea'"
    ></app-text-input>
    
    <div class="mb-3">
        <label for="" style="margin-right: 10px;">Gender:</label>
        <label for="" class="form-check-label">
            <input 
                type="radio" 
                class="form-check-input" 
                value="male" 
                formControlName="gender"
            >
            Male
        </label>
        <label for="" class="form-check-label ms-3">
            <input 
                type="radio" 
                class="form-check-input" 
                value="female" 
                formControlName="gender"
            >
            Female
        </label>
    </div>   
    <ng-select [items]="movieList"
        [searchable]="true"
        bindLabel="title"
        bindValue="id"
        placeholder="Select movie"
        [multiple]="true"
        formControlName="movieIds"
        class="mb-3">
    </ng-select>
    <hr>
    <div class="text-end me-2">
        <a class="btn btn-dark me-2" routerLink="/admin/actor-list" >Cancel</a>
        <button [disabled]="!addForm.valid" class="btn btn-primary" type="submit">Add</button>
        
    </div>
</form>
