.movie-details {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.movie-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-details h4 {
  font-size: 18px;
  margin-top: 20px;
}

.movie-details h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.movie-details p {
  margin-bottom: 20px;
}


.fancy-btn {
  background: #003c78;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
}