<div class="modal-header">
    <h4 class="modal-title">Movie Title</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
            <img src="{{'./assets/default-movie.jpg' }}" class="cimg-fluid" alt="Movie Image">
        </div>
        <div class="col-md-6">
          <p><strong>Release Date:</strong> 2000</p>
          <p><strong>Duration:</strong> 55 minutes</p>
          <p><strong>Director:</strong> director</p>
          <p><strong>Genres:</strong> genres</p>
          <p><strong>Description:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab eveniet recusandae id. Illo, aut rem nisi neque deleniti quis quia odit dolore, expedita dignissimos similique laudantium suscipit corrupti. Aperiam, minus.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary">Close</button>
  </div>