<!-- <div class="jumbotron text-center rounded-3">
    <h1 class="display-3 ">Movie Database</h1>
    <p class="lead slogan">Explore the world of cinema with us!</p>
    <p class="mb-4">Welcome to our movie database. Here you'll find information about your favorite movies and actors.</p>
    <a href="#" class="btn btn-primary btn-lg fancy-btn">Most popular</a>
    <a (click)="navigateToRandomMovie()" class="btn btn-primary btn-lg fancy-btn">Random movie</a>
</div>


<div class="container mt-5">
    <div class="row">
        
    </div>
</div> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <section class="hero">
        <div class="container">
            <p class="hero__subtitle">Filmlane</p>
            <h2 class="hero__title">Unlimited <span class="hightlight">Movie</span>, TVs Shows, & More.</h2>
            <a class="hero__btn" href="#">Watch now</a>
        </div>
      </section>
</body>
</html>