<div class="jumbotron text-center">
    <h1 class="display-3">Movie Database</h1>
    <p class="lead slogan">Explore the world of cinema with us</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <p class="mb-4">Welcome to our movie database. Here you'll find information about your favorite movies, actors, directors, and more.</p>
            <a href="#" class="btn btn-primary btn-lg">Get Started</a>
        </div>
    </div>
</div>
