<div class="jumbotron text-center rounded-3">
    <h1 class="display-3 ">Movie Database</h1>
    <p class="lead slogan">Explore the world of cinema with us!</p>
    <p class="mb-4">Welcome to our movie database. Here you'll find information about your favorite movies and actors.</p>
    <a href="#" class="btn btn-primary btn-lg fancy-btn">Most popular</a>
    <a (click)="navigateToRandomMovie()" class="btn btn-primary btn-lg fancy-btn">Random movie</a>
</div>


<div class="container mt-5">
    <div class="row">
        <!-- Display movies here -->
        asds
    </div>
</div>