<div *ngIf="movies.length > 0; else noMovies">
  <div 
    class="justify-content-start border border-2 rounded shadow p-3"
    style="display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr auto; height: 760px;"
  >
      <div *ngFor="let movie of movies" class="d-flex justify-content-center">
        <app-actor-movie-list-card class="mt-2" [movie]="movie"></app-actor-movie-list-card>
      </div>
      <div 
        class="d-flex justify-content-center pagination-container" 
        style="grid-column: 1/3;"
        *ngIf="pagination">
        <pagination 
            [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [maxSize]="10"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;"
        >
        </pagination>
      </div>
  </div>
</div>

<ng-template #noMovies>
  <p>No movies available for this actor.</p>
</ng-template>


