<div class="container" *ngIf="movie">
  <a class="card mb-3 position-relative fancy-card rounded shadow" [routerLink]="'/movies/' + movie.id"
    style="max-width: 300px; text-decoration: none;">
    <div class="position-absolute top-0 start-0 m-2 fancy-badge" style="z-index: 1;">
      <span class="badge">{{ movie.averageRating }}</span>
    </div>
    <button (click)="handleClick($event)" class="btn btn-primary position-absolute top-0 end-0 m-2 add-button" [routerLink]="'/'">
      <i class="fa fa-solid fa-plus"></i>
    </button>
    <div class="card-img-wrapper border-bottom">
      <img src="{{ movie.posterUrl || './assets/movie-placeholder.jpg' }}" class="card-img-top" alt="Movie poster">
    </div>
    <div class="card-body p-2">
      <h6 class="card-title text-center mb-2">
        {{ movie.title }}
      </h6>
      <p class="card-text text-muted text-center mb-1" *ngIf="movie.genres && movie.genres.length > 0">
        <span *ngFor="let genre of movie.genres; let last = last">
          {{ genre.name }}{{ !last ? ', ' : '' }}
        </span>
      </p>
      <p class="card-text text-muted text-center mb-1" *ngIf="!movie.genres || movie.genres.length === 0">
        No genres available.
      </p>
      <p class="card-text text-muted text-center mb-1">
        <strong>Director:</strong> {{ movie.director }}
      </p>
      <p class="card-text text-muted text-center mb-1">
        <strong>Release Year:</strong> {{ movie.releaseDate }}
      </p>
    </div>
  </a>
</div>
