<div class="row">
    <div class="col-4">
        <h1>Edit Profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
            <p><strong>Information:</strong> You have made changes. Any unsaved changes will be lost.</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <img src="{{ './assets/user.png'}}" class="card-img-top img-thumbnail">
                <div>
                    <strong>Gender:</strong>
                    <p>User Gender</p>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" [disabled]="!editForm.dirty" form="editForm" class="btn btn-success col-12">Save changes</button>
            </div>
        </div>
    </div>
    <div class="col-8">
        <form #editForm="ngForm" id="editForm">
            <h4 class="mt-2">Edit Profile</h4>
            <div class="form-group">
                <label for="userName">Username:</label>
                <input type="text" name="userName" class="form-control">
            </div>
        </form>
    </div>
</div>
