<app-comment-form (createdComment)="handleCommentCreation($event)" [movieId]="movieId" [user]="user"></app-comment-form>
<h3 class="mt-4">Comments:</h3>

<div *ngIf="comments.length > 0; else noComments">
    <div class="row">
        <div *ngFor="let comment of comments" class="col-12">
            <app-comment 
              [comment]="comment" 
              [user]="user" 
              [currentUserId]="currentMember?.id" 
              (editedComment)="openEditModal($event)"
              (deleteCommentId)="deleteComment($event)">
            </app-comment>
        </div>
    </div>
</div>

<ng-template #noComments>
    <p class="text-center">No comments yet.</p>
</ng-template>