<div 
  class="container mt-3" 
  style="display: grid; grid-template-columns: 300px auto; column-gap: 20px;"
  *ngIf="actorParams">

  <form class="searchBar">
    <div class="input-group">
      <input
        type="text"
        placeholder="Search..."
        formControlName="searchValue"
        class="form-control"
      />
      <div class="input-group-append">
        <button type="button" class="search-button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div>
      <div>
     
      </div>
    </div>
  </form>

  <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadActors()" autocomplete="off">
    <div class="d-flex align-items-center px-2">
      <label class="col-form-label me-2"><strong>Gender:</strong></label>
      <select 
        name="genre" 
        style="width: 120px;" 
        class="form-select ms-1"
        [(ngModel)]="actorParams.gender"
        >
        <option *ngFor="let genre of genderList">{{ genre }}</option>
      </select>
    </div>

    <button class="apply-button" type="submit">
      Apply
    </button>
    
    <button class="reset-button" type="submit" (click)="resetFiliters()">
      Reset
    </button>

    <div class="col d-flex justify-content-end">
      <div class="btn-group">
        <button 
            type="button" 
            class="fancy-btn" 
            name="orderBy" 
            [(ngModel)]="actorParams.orderBy"
            btnRadio="popularity"
            (click)="loadActors()"
            [class.active]="actorParams.orderBy === 'popularity'"
          >
          Popularity
          </button>

        <button 
          type="button" 
          class="fancy-btn" 
          name="orderBy" 
          [(ngModel)]="actorParams.orderBy"
          btnRadio="alphabetical"
          (click)="loadActors()"
          [class.active]="actorParams.orderBy === 'alphabetical'"
        >
        Alphabetical
        </button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="actors.length > 0; else noActors" class="row justify-content-start">
  <div *ngFor="let actor of actors" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
    <app-actor-card [actor]="actor"></app-actor-card>
  </div>
</div>

<ng-template #noActors>
  <p class="text-center">No actors available.</p>
</ng-template>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination 
      [boundaryLinks]="true" 
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [maxSize]="10"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" 
      nextText="&rsaquo;" 
      firstText="&laquo;" 
      lastText="&raquo;"
  >
  </pagination>
</div>
