<div class="container col-9 mt-5 border rounded shadow p-4" *ngIf="movie">
    <h2 class="ms-2">Update movie</h2>
    <hr>
    <form [formGroup]="editForm" (ngSubmit)="editForm.valid && updateMovie()">
        <app-text-input 
            [formControl]="$any(editForm.controls['title'])" 
            [label]="'Title'"
        ></app-text-input>
        <app-text-input 
            [formControl]="$any(editForm.controls['releaseDate'])"
            [label]="'Release Date'"
            [type]="'number'"
        ></app-text-input>
        <app-text-input 
            [formControl]="$any(editForm.controls['durationInMinutes'])" 
            [label]="'Duration In Minutes'"
            [type]="'number'"
        ></app-text-input>
        <app-text-input 
            [formControl]="$any(editForm.controls['director'])" 
            [label]="'Director'"
            [type]="'text'"
        ></app-text-input>
        <app-text-input 
            [formControl]="$any(editForm.controls['description'])" 
            [label]="'Description'"
            [type]="'textarea'"
        ></app-text-input>
        <ng-select [items]="genreList"
            [searchable]="true"
            bindLabel="name"
            bindValue="id"
            placeholder="Select genre"
            [multiple]="true"
            formControlName="genreIds"
            class="mb-3">
        </ng-select>
        <ng-select [items]="actorList"
            [searchable]="true"
            bindLabel="name"
            bindValue="id"
            placeholder="Select actors"
            [multiple]="true"
            formControlName="actorIds">
        </ng-select>
        <hr>
        <div class="text-end me-2">
            <a class="btn btn-dark me-2" routerLink="/admin/movie-list">Cancel</a>
            <button [disabled]="!editForm.valid" class="btn btn-primary" type="submit">Update</button>
            
        </div>
    </form>
</div>