.actor-details {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .actor-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .actor-details h4 {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .actor-details h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .actor-details p {
    margin-bottom: 20px;
  }
    