<a *ngIf="actor" [routerLink]="'/actors/' + actor.id" class="card mb-3" 
   style="max-width: 300px; border: 1px solid #ddd; border-radius: 8px;
          text-decoration: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <div class="card-img-wrapper">
        <img src="{{'./assets/user.png' }}" class="card-img-top" alt="Actor Image">
    </div>
    <div class="card-body p-2">
        <h6 class="card-title text-center mb-2">
            {{ actor.firstName }} {{ actor.lastName }}
        </h6>
    </div>
</a>
