<div 
  class="container mt-3" 
  style="display: grid; grid-template-columns: 300px auto; column-gap: 20px;" 
  *ngIf="movieParams">

    <form [formGroup]="searchForm" (ngSubmit)="searchMovies()" class="searchBar">
      <div class="input-group">
        <input
          style="height: 44px; width: 230px; border-radius: 5px 0px 0px 0px;"
          type="text"
          placeholder="Search..."
          formControlName="searchValue"
          class="form-control"
          (input)="onSearchInput()"
        />
        <div class="input-group-append">
          <button type="button" class="search-button" (click)="searchMovies()">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div class="search-suggestions" *ngIf="movieNameList.length > 0">
        <div *ngFor="let movie of movieNameList" class="search-item">
          <a style="text-decoration: none;" [routerLink]="'/movies/' + movie.id">{{ movie.title }}</a>
        </div>
      </div>
    </form>

    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMovies()" autocomplete="off">
        <div class="d-flex align-items-center px-2">
          <label class="col-form-label me-2"><strong>Genre: </strong></label>
          <select 
            name="genre" 
            style="width: 150px; height: 44px;" 
            class="form-select ms-1" 
            [(ngModel)]="movieParams.genre">
            <option *ngFor="let genre of genres">{{ genre.name }}</option>
          </select>
        </div>
        
        <div class="d-flex align-items-center mx-2">
          <label class="col-form-label"><strong>Release Year: </strong></label>
          <input 
            type="number" 
            class="form-control ms-1" 
            style="width: 80px; height: 44px;" 
            name="releaseDate" 
            [(ngModel)]="movieParams.releaseDate"
          >
        </div>
      

        <button class="apply-button" type="submit">
            Apply
        </button>

        <button class="reset-button" type="submit" (click)="resetFiliters()">
            Reset
        </button>

        <div class="col d-flex justify-content-end">
            <div class="btn-group">
              <button 
                type="button" 
                class="fancy-btn" 
                name="orderBy"
                [(ngModel)]="movieParams.orderBy"
                btnRadio="popularity"
                (click)="loadMovies()"
                [class.active]="movieParams.orderBy === 'popularity'"
              >
                Popularity
              </button>

              <button 
                type="button" 
                class="fancy-btn" 
                name="orderBy" 
                [(ngModel)]="movieParams.orderBy"
                btnRadio="alphabetical"
                (click)="loadMovies()"
                [class.active]="movieParams.orderBy === 'alphabetical'"
              >
                Alphabetical
              </button>
            </div>
          </div>            
    </form>
</div>

<div *ngIf="movies.length > 0; else noMovies">
    <div class="row">
        <div *ngFor="let movie of movies" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <app-movie-card [movie]="movie" [user]="user"></app-movie-card>
        </div>
    </div>
</div>

<ng-template #noMovies>
    <p class="text-center">No movies available.</p>
</ng-template>

<div class="d-flex justify-content-center" *ngIf="pagination" >
  <pagination 
      [boundaryLinks]="true" 
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [maxSize]="10"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" 
      nextText="&rsaquo;" 
      firstText="&laquo;" 
      lastText="&raquo;"
  >
  </pagination>
</div>