.fancy-btn {
    background: #5c636a;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.fancy-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.fancy-btn.active {
    background: #003c78;
}

.apply-button {
    background: #003c78;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
}

.reset-button {
    background: #5c636a;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
}

.search-button {
    background: #003c78;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 0px 5px 5px 0px;
}

/* .search-suggestions {
    position: absolute;
    z-index: 99;
    background: red;
    width: 236px;
    border-width: 5px;
}

.search-item {
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    background-color: #e2e2e2;
}

.show-suggestions {
    border-radius: 5px 0px 0px 0px;
  } */

.search-suggestions {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  width: 236px;
  z-index: 99;
}

.search-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-item:last-child {
  border-bottom: none;
  border-radius: 0px 0px 5px 5px;
}

.search-item:hover {
    background-color: #e2e2e2;
}

.search-item a {
  color: #333;
}

::ng-deep .page-item.active .page-link {
    z-index: 1;
    color: #FFFFFF;
    background-color:#003c78 !important;
    border: none;
}

