<div class="container mt-3" *ngIf="movieParams">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMovies()" autocomplete="off">
        <!-- <div class="d-flex px-2 align-items-center">
            <div class="d-flex mx-2">
              <label class="col-form-label"><strong>Search:</strong></label>
              <div class="input-group ms-1">
                <input type="text" class="form-control" name="searchQuery">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
        </div> -->

        <div class="d-flex px-2">
            <label class="col-form-label me-2"><strong>Genre: </strong></label>
            <select 
              name="genre" 
              style="width: 150px;" 
              class="form-select ms-1" 
              [(ngModel)]="movieParams.genre">
                <option *ngFor="let genre of genres">{{ genre.name }}</option>
            </select>
        </div>

        <div class="d-flex mx-2">
            <label class="col-form-label"><strong>Release Year: </strong></label>
            <input 
                type="number" 
                class="form-control ms-1" 
                style="width: 80px;" 
                name="releaseDate" 
                [(ngModel)]="movieParams.releaseDate"
            >
        </div>

        <button class="btn btn-primary ms-1" type="submit">
            Apply
        </button>

        <button (click)="resetFiliters()" class="btn btn-secondary ms-1" type="submit">
            Reset
        </button>

        <div class="col d-flex justify-content-end">
            <label class="col-form-label me-2"><strong>Order: </strong></label>
            <div class="btn-group">
              <button 
                type="button" 
                class="btn btn-secondary" 
                name="orderBy"
                [(ngModel)]="movieParams.orderBy"
                btnRadio="popularity"
                (click)="loadMovies()"
              >
                Popularity
              </button>

              <button 
                type="button" 
                class="btn btn-secondary ms-1" 
                name="orderBy" 
                [(ngModel)]="movieParams.orderBy"
                btnRadio="alphabetical"
                (click)="loadMovies()"
              >
                Alphabetical
              </button>
            </div>
          </div>            
    </form>
</div>

<div *ngIf="movies.length > 0; else noMovies">
    <div class="row">
        <div *ngFor="let movie of movies" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <app-movie-card [movie]="movie"></app-movie-card>
        </div>
    </div>
</div>

<ng-template #noMovies>
    <p class="text-center">No movies available.</p>
</ng-template>

<div class="d-flex justify-content-center" *ngIf="pagination" >
  <pagination 
      [boundaryLinks]="true" 
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [maxSize]="10"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" 
      nextText="&rsaquo;" 
      firstText="&laquo;" 
      lastText="&raquo;"
  >
  </pagination>
</div>