<div class="container">
    <div class="row">
        <div class="col">
            <h3>Want to watch</h3>
        </div>
    </div>
</div>

<div class="row mt-4">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th style="width: 10%;"></th>
                <th>Title</th>
                <th>Release Date</th>
                <th>Duration</th>
                <th>Director</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies" [routerLink]="'/movies/' + movie.id">
                <td><img
                    src="{{ movie.posterUrl || './assets/movie-placeholder.jpg' }}" 
                    alt="Movie poster" 
                    style="max-width: 100px; border-radius: 5px;"></td>
                <td><strong>{{ movie.title }}</strong></td>
                <td>{{ movie.releaseDate }}</td>
                <td>{{ movie.durationInMinutes }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.averageRating }}/5</td>
            </tr>
        </tbody>
    </table>
</div>